@charset "UTF-8";
/* CSS Document */

/* CSS Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* Main Template Styles */
body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 13px;
	line-height: 1;
	background-color: #EBEBEC;
	background-image:url(bodyBkgDCXSRackMt-v1.jpg);
	background-repeat: repeat-x;
}
#wrapper {
	padding: 0px;
	width: 960px;
	margin: 0px auto;
	background-color: #EBEBEC;
}
.clearit {
	clear: both;
}
/* HEADER styles */
#header {
	height: 165px;
	width: 960px;
	background-image: url(headerBkgDCXSRackMt-v1.jpg);
	background-repeat: no-repeat;
}
#headerNav {
	height: 55px;
	width: 1000px;
}
#mainNav {
	height: 35px;
	text-align: center;
	/*margin: 62px 0px 0px 10px;*/
	margin: 59px 0px 0px 22px;
}
#mainNav li {
	display: inline;
	list-style: none;
}
#mainNav a {
	/*width: 120px;*/
    width: 75px;
	background-image: url(mainNavBtnBkgDCXSRackMt-v1.jpg);
	background-repeat: no-repeat;
	float: left;
	text-decoration: none;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 5px 0px;
	height: 35px;
}
#mainNav a:hover {
	/*width: 120px;*/
    width: 75px;
	background-image: url(mainNavBtnBkg-rollDCXSRackMt-v1.jpg);
	background-repeat: no-repeat;
	float: left;
	text-decoration: none;
	color: #333333;
}
#mainNav .active a {
	background-image: url(mainNavBtnBkg-rollDCXSRackMt-v1.jpg);
	color: #333333;
}
#mainNav .inactive a {
	background-image: url(mainNavBtnBkg-rollDCXSRackMt-v1.jpg);
	color: #300000;
}

#headerLogo {
	padding: 0px;
	float: left;
	background-image: url(bransonLogo.png);
	background-repeat: no-repeat;
	height: 29px;
	width: 161px;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
#headerLinks {
	padding: 0px;
	float: right;
	margin-top: 19px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #777777;
	font-weight: bold;
}
#headerLinks a {
	color: #777777;
	text-decoration: none;
}
#headerLinks a:hover {
	color: #990000;
}
.user {
	margin-right: 20px;
}

/* CONTENT styles */
#content {
	padding: 0px;
	width: 870px;
	margin: 0px 60px 0px 60px;
}
#WebToken {
	margin-top: 5px; 
	margin-left: 20px; 
	height: 26px;
	width: 26px;
	background-image: url(redDot.gif);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	display:none;
}
#fade_div {
	z-index:1;
	margin-top: 10px;
	position:absolute;
	filter:alpha(opacity=50);
	background-color:#FFFFFF;
	display:none;
}
#info_div {
	position:absolute;
	width:250px;
	height:80px;
	z-index:2;
	left:40%;
	top:300px;
	display:none;
	background-color:#FFFFFF;
	border:solid 2px #000000;
}
#Level2Lbl {
	font-weight:bold;
	font-size: 14pt;
	width:240px;
	text-align:center;
}
#Level2Msg {
	text-align:center;
	height:15px;
	width:250px;
	color:red;
}
#upload_target {
	 width:0;
	 height:0;
	 border:0px solid #fff;
}
#LoginMsg{
	text-align:center;
	color:red;
}
.Level2Pwd {
	margin-left:50px;
	text-align:center;
}
#PageHeader {
	margin-top: 1px;
	font-size: 20px;
	text-align: center;
}
.contentBoxWrapper {
	float: left;
	width: 375px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 30px;
}
.contentBoxWrapper50 {
	float: left;
	width: 46%;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 30px;
}
.contentBoxWrapperBorder {
	float: right;
	width: 700;
	margin-top: 10px;
	margin-right:10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border: 0.5px solid black;
	padding: 10px;
}

.contentBoxHeader{
	font-weight: normal;
	font-size: 22px;
	margin: 0px;
	padding: 0px;
	height: 30px;
	text-transform: uppercase;
}
.gradientBoxAdvPreset {
	background: #EEEEEE; /* for non-css3 browsers */
	height: 300px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #eeeeee); /* for firefox 3.6+ */
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	float: left;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.subBoxHeader {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-weight: bold;
}
.subBoxContent {
	border: 1px solid #CCCCCC;
	padding: 0px 0px 10px 0px;
}
.subBoxWrapper {
	margin: 0px 0px 10px 10px;
}
.Column33 {
	width: 35%;
}
.gradientBox {
	background: #EEEEEE; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #eeeeee); /* for firefox 3.6+ */	
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	padding: 30px 30px 20px 20px;
}
.gradientBox50 {
	background: #EEEEEE; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #eeeeee); /* for firefox 3.6+ */
	width:50%;
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	padding: 30px 30px 20px 20px;
}
.gradientBox400 {
	background: #EEEEEE; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #eeeeee); /* for firefox 3.6+ */
	width:400px;
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	padding: 30px 30px 20px 20px;
}
.gradientBox300px {
	background: #EEEEEE; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #eeeeee); /* for firefox 3.6+ */
	width:300px;
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	padding: 30px 30px 20px 20px;
}
.IPgradientBox {
	background: #EEEEEE; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #eeeeee); /* for firefox 3.6+ */
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	padding: 10px 30px 20px 20px;
	height: 230px;
}
.gradientBoxSys {
	background: #EEEEEE; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #eeeeee); /* for firefox 3.6+ */	
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	padding: 30px 30px 20px 20px;
	height:400px;
}
.textInput {
	width: 135px;
	margin: 12px 0px 0px 0px;
	float: left;
}
.textInputS {
	width: 110px;
	margin: 12px 10px 0px 0px;
	float: left;
}
.textInputSS {
	width: 70px;
	margin: 12px 10px 0px 0px;
	float: left;
}
.labelSmallRight {
	padding: 2px 5px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: right;
	width: 40px;
}
.textLabelPB{
	padding: 4px 5px 0px 0px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: left;
	width: 40px;
}

.labelSmall {
	padding: 2px 5px;
	background: #ffffff;
	border: solid 1px #CCCCCC;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: center;
	width: 40px;
}

.textLabel {
	padding: 2px 5px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: left;
	width: 40px;
}
.textLabelCenter {
	padding: 2px 5px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: center;
	width: 85px;
}
.textLabelRight {
	padding: 2px 5px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: right;
	width: 85px;
}

.textLabelS {
	padding: 2px 5px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: left;
	width: 20px;
}
.textLabelBigLeft {
	padding: 2px 5px;
	margin: 11px 0px 0px 0px;
	float: left;
	text-align: left;
	width: 135px;
}
.textLabelBigRight {
	padding: 2px 5px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: right;
	width: 135px;
}
.textLabelBigCenter {
	padding: 2px 5px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: center;
	width: 135px;
}
.checkbox {
	float: left;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	font-size: 7px;
}
.checkboxLeft {
	float: left;
	margin: 10px 0px 0px 10px;
	padding: 0px;
	font-size: 7px;
}
.checkboxCenter{
	float: left;
	margin: 9px 0px 0px 10px;
	padding-left: 30px;
	text-align: center;
	font-size: 7px;
}
.dropdown {
	float: left;
	margin: 10px 0px 0px 5px;
	padding: 0px;
	font-size: 7px;
}
.ieDropFix {
	margin: 0px;
	padding: 0px;
	float: left;
}
.TableCol{
	margin: 0px 0px 0px 0px;
	width:680px;
}
.UrsId{
	margin: 0px 0px 0px 100px;
	width:130px;
}
.Passcode{
	margin: 0px 0px 0px 100px;
	width:130px;
}
.Privilage{
	margin: 0px 0px 0px 100px;
	width:80px;
}
.ViewHidden{
	display:none;
}
.textbigLable {
	padding: 2px 5px;
	margin: 11px 0px 0px 0px;
	float: left;
	text-align: left;
	width: 170px;
}
.textLableAuto {
	padding: 2px 5px;
	margin: 11px 0px 0px 0px;
	float: left;
	text-align: left;
	width: auto;
}
.textHeading {
	padding: 2px 5px;
	margin: 11px 0px 0px 89px;
	float: left;
	text-align: center;
	width:145px;
}
.textHeadingP{
	padding: 2px 5px;
	margin: 11px 0px 0px 87px;
	float: left;
	text-align: center;
	width:80px;
}
.HeadBit {
	width:26px;
	padding: 2px 5px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: center;
}
.LEDBox {
	background-image: url(greyDot.gif);
	background-repeat: no-repeat;
	background-position: center;
	height:25px;
	width:40px;
	border:0.5px solid black;
	float: left;
	margin: 10px 0px 0px 0px;
}
.LEDSubTtl {
	padding: 2px 5px;
	margin: 0px 0px 0px 4px;
	float: left;
	text-align: center;
	width:28px;
	font-size:10px;
}
.LblCenter50{
	padding: 2px 5px;
	margin: 11px 0px 0px 4px;
	float: left;
	text-align: center;
	width:50px;
}
.labelBar {
	width:162px;
	height:16px;
	padding: 2px 2px 2px 2px;
	background: #ffffff;
	border: solid 1px #CCCCCC;
	margin: 11px 10px 0px 10px;
	float: left;
	text-align: right;
}
.labelUserID
{
    width: 130px;
    padding: 2px 10px 2px 10px;
    border: solid 0px #CCCCCC;
    margin: 14px 10px 0px 10px;
    float: left;
    text-align: right;
}
#Width50 {
	width:400px;
}
#contentButtonBank,#contentButtonBankNonSticky {
	bottom: 0px; 
	z-index: 9999;
	background: #EBEBEC;
	width: 960px;
	margin-left:0px;
	margin-bottom: 5px;
	text-align: center;
}
#contentButtonBank .button,#contentButtonBankNonSticky .button {
	margin: 0px 10px;
	width: 135px;
}
#footer {
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	height: 135px;
	width: 960px;
	font-size: 10px;
	color: #999999;
	border-top: solid 1px #CCCCCC;
}
#footer p {
	margin: 5px 10px 0px 0px;
}
#WeldProgress{
	height:20px;
	width:0px;
	background-color:Green;
}
#WeldProgressBorder{
	border: 1px solid black;
	width:700px;
	height:20px;
}
#HSProgress{
	height:20px;
	width:0px;
	background-color:Green;
}
#HSBorder{
	border: 1px solid black;
	width:600px;
	height:20px;
	margin-left:12px;
	margin-top:12px;
}
#ActDef1 {
	border:0.5px solid black;
	width:60px;
	height:255px;
}
#ActDef2 {
	border:0.5px solid black;
	width:55px;
	height:244px;
	padding-left:9px;
}
#HSBar {
	width:630px;
}
/* Content Box Styles */
.NoDisplay {
	display:none;
}
.buttonInGradient {
	text-align: center;
	margin: 10px 0px;
	padding: 0px;
}
.divClass
{
    height:12px;
    width:6px; 
    background-color:gray;
    margin-bottom:4px;
    border: 0px;
}
.divClassSegOn
{
    height:12px;
    width:6px; 
    background-color:blue;
    margin-bottom:4px;
    border: 0px;
}
.td-top {
	vertical-align:top;
}
.tdWidth33 {
	width:33%; 
}
